<template name="notificationsList">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{i18n "notification_plural" }}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td class="select">
                        {{#if hasNotifications}}
                            <div class="checkbox checkbox-primary">
                                <label>
                                    <input type="checkbox" name="selectAll" id="all-notifications"/>
                                    {{i18n "all" }}
                                </label>
                            </div>
                        {{/if}}
                    </td>
                    <td class="text-center"><span class="hidden-xs">{{i18n "title" }}</span></td>
                    <td class="text-center hidden-xs">{{i18n "detail" }}</td>
                    <td class="text-center hidden-xs">{{i18n "sent" }}</td>
                </tr>
                </thead>
                <tbody>
                {{#if hasNotifications}}
                    {{#each notificationsList}}
                        {{> notificationItem }}
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"> </i>
                                {{i18n "noNotificationMessage" }}
                            </div>
                        </td>
                    </tr>
                {{/if}}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        {{> defaultBootstrapPaginator pagination=templatePagination limit=6 containerClass="text-center"}}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a id="mark-as-read" type="button" class="btn btn-raised btn-primary" {{notificationSelected}}>
                <i class="fa fa-check"></i> {{i18n "markAsRead" }}
            </a>
            <a id="mark-as-unread" type="button" class="btn btn-sm btn-primary btn-raised" {{notificationSelected}}>
                <i class="fa fa-rotate-left"></i> {{i18n "markAsUnread" }}
            </a>
            <a id="delete-notification" type="button" class="btn btn-sm btn-danger btn-raised" {{notificationSelected}}>
                <i class="fa fa-times"></i> {{i18n "delete" }}
            </a>
        </div>
    </div>
</template>

<template name="notificationItem">
    <tr class="{{#unless isRead}} unread {{/unless}}">
        <td class="select">
            <div class="checkbox checkbox-primary">
                <label>
                    <input type="checkbox" name="selectNotification" value="{{_id}}"/>
                </label>
            </div>
        </td>
        <td>
            <a class="hidden-xs" href="{{pathFor 'notification' _id=this._id}}">{{title}}</a>
            <div class="visible-xs">
                <p><strong>{{i18n "title" }}:</strong> <a href="{{pathFor 'notification' _id=this._id}}">{{title}}</a></p>
                <p><strong>{{i18n "summary" }}:</strong> <a href="{{pathFor 'notification' _id=this._id}}">{{summary}}</a></p>
                <p><strong>{{i18n "sent" }}:</strong> <a href="{{pathFor 'notification' _id=this._id}}">{{sent}}</a></p>
            </div>
        </td>
        <td class="hidden-xs"><a href="{{pathFor 'notification' _id=this._id}}">{{summary}}</a></td>
        <td class="hidden-xs text-center"><a href="{{pathFor 'notification' _id=this._id}}">{{sent}}</a></td>
    </tr>
</template>
