<template name="completedSurveys">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Completed Surveys</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="text-center">
                    <td>Code</td>
                    <td>Name</td>
                    <td>User</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                </tr>
                </thead>
                <tbody>
                {{#if hasCompletedSurveys}}
                    {{#each completedSurveysList}}
                        <tr class="text-center {{selectedCompletedSurvey}}">
                            <td>{{questionnaire.code}}</td>
                            <td>{{questionnaire.name}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{startDateDisplay}}</td>
                            <td>{{endDateDisplay}}</td>
                        </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"> </i> There are no completed surveys yet!</div>
                        </td>
                    </tr>
                {{/if}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            {{#if isCompletedSurveySelected}}
                <a id="view-completed-survey" type="button" class="btn btn-sm btn-primary btn-raised" >
                    <i class="fa fa-list-ol"></i> View
                </a>
                <a id="delete-completed-survey" type="button" class="btn btn-sm btn-danger btn-raised" data-toggle="modal"
                   data-target="#delete-survey-modal">
                    <i class="fa fa-times"></i> Delete
                </a>
            {{/if}}
        </div>
    </div>
    {{> deleteSurveyModal }}
</template>