<template name="completedSurvey">
    {{#with completedSurvey}}
        <div class="panel">
            <div class="panel-heading">
                <h4>{{questionnaire.name}}</h4>
                <ul>
                   <li><strong>Address:</strong> {{location.address}}</li>
                    <li><strong>Latitude:</strong> {{location.latitude}}</li>
                    <li><strong>Longitude:</strong> {{location.longitude}}</li>
                </ul>
            </div>
            <div class="panel-body">
                {{#each questionnaire.questions}}
                    <div class="question-display">
                        <h4>{{orderNumber}}. {{detail}}</h4>
                        {{#each this.answers completedSurvey._id}}
                            <div class="answer">
                                <p>
                                    {{#unless isTypeOpenEnded}}
                                        <span class="">{{choiceOrderNumber}}</span>.
                                    {{/unless}}
                                    {{value}}
                                </p>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
            <div class="panel-footer">

            </div>
        </div>
    {{/with}}
</template>

<template name="radioInputView">
    <div class="radio radio-primary">
        <label>
            <input type="radio" name="answer" id="answer" value="{{name}}" disabled/>
            {{orderNumber}}. {{name}}
        </label>
    </div>
</template>

<template name="checkboxInputView">
    <div class="checkbox checkbox-primary">
        <label>
            <input type="checkbox" name="answer" id="answer" value="{{name}}" disabled/>
            {{orderNumber}}. {{name}}
        </label>
    </div>
</template>