<template name="continueSurvey">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">Continue Survey</h4>
            <div class="visible-xs">
                <select id="continue-survey-search-field" class="form-control">
                    <option value="code">Code</option>
                    <option value="name">Name</option>
                </select>
            </div>
            <form id="search-surveys-to-continue-form" class="pull-right form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input id="search-surveys-to-continue" type="text" class="form-control" data-form-type="role"
                               aria-label="Search" placeholder="Search"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-fab btn-fab-mini">
                                <i class="fa fa-search" data-form-type="search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table id="surveys-to-continue-list" class="table table-striped table-hover">
                <thead>
                <tr class="hidden-xs text-center">
                    <td class="active" data-search-name="code">Code</td>
                    <td data-search-name="name">Name</td>
                    <td class="disabled">User</td>
                    <td class="disabled">Started</td>
                </tr>
                </thead>
                <tbody>
                {{#each continueSurveyList}}
                    <tr class="{{selectedContinueSurvey}}">
                        <td>
                            <span class="hidden-xs">{{questionnaire.code}}</span>
                            <div class="visible-xs">
                                <p><strong>Code:</strong> {{questionnaire.code}}</p>
                                <p><strong>Name:</strong> {{questionnaire.name}}</p>
                                <p><strong>Full Name:</strong> {{user.fullName}}</p>
                                <p><strong>Started:</strong> {{timeStarted}}</p>
                            </div>
                        </td>
                        <td class="hidden-xs">{{questionnaire.name}}</td>
                        <td class="hidden-xs text-center">{{user.fullName}}</td>
                        <td class="hidden-xs text-center">{{timeStarted}}</td>
                    </tr>
                {{/each}}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        {{> defaultBootstrapPaginator pagination=templatePagination limit=6 containerClass="text-center"}}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a id="continue-completed-survey" type="button"
               class="btn btn-sm btn-primary btn-raised" {{canContinueSurvey}} >
                <i class="fa fa-forward"></i> Continue
            </a>
            <a id="view-completed-survey" type="button" class="btn btn-sm btn-primary btn-raised" data-toggle="modal"
               data-target="#view-survey-modal" {{canContinueSurvey}}>
                <i class="fa fa-list-ol"></i> View
            </a>
            <a id="delete-completed-survey" type="button" class="btn btn-sm btn-danger btn-raised" data-toggle="modal"
               data-target="#delete-survey-modal" {{canContinueSurvey}}>
                <i class="fa fa-times"></i> Delete
            </a>
        </div>
    </div>
    {{> viewSurveyModal }}
    {{> deleteSurveyModal }}
</template>

<template name="viewSurveyModal">
    <div id="view-survey-modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Survey Details</h4>
                </div>
                <div class="modal-body">
                    {{#with selectedSurvey}}
                        <div class="panel">
                            <div class="panel-heading">
                                <h4>{{questionnaire.name}}</h4>
                                <ul>
                                    <li><strong>Address:</strong> {{location.address}}</li>
                                    <li><strong>Latitude:</strong> {{location.latitude}}</li>
                                    <li><strong>Longitude:</strong> {{location.longitude}}</li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                {{#each questionnaire.questions}}
                                    <div class="question-display">
                                        <h4>{{orderNumber}}. {{detail}}</h4>
                                        {{#each this.answers selectedSurvey._id}}
                                            <div class="answer">
                                                <p>
                                                    {{#unless isTypeOpenEnded}}
                                                        <span class="">{{choiceOrderNumber}}</span>.
                                                    {{/unless}}
                                                    {{value}}
                                                </p>
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
