<template name="deleteSurveyModal">
    <div id="delete-survey-modal" class="modal">
        <form>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">{{i18n "deleteSurvey" }} <i class="fa fa-warning"></i></h4>
                    </div>
                    <div class="modal-body">
                        {{#with selectedSurvey}}
                            <div>
                                <p>{{i18n "deleteAcceptMessage" }}  <strong>{{questionnaire.name}}</strong> ?</p>
                                <p class="alert alert-danger">
                                    <strong>{{i18n "warning" }}:</strong> {{i18n "warningMessage" }}
                                </p>
                            </div>
                        {{/with}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-danger btn-raised">
                            <i class="fa fa-check"></i> {{i18n "accept" }}
                        </button>
                        <button type="button" class="btn btn-sm btn-primary btn-raised" data-dismiss="modal">
                            <i class="fa fa-times"></i> {{i18n "cancel" }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>