<template name="selectDate">
    <form id="select-date-form" class="pull-right form-inline">
        <div class="form-group">
            <div class="input-group date-time-picker">
                <input id="select-date" type="text" class="form-control"/>
                <span class="input-group-addon input-group-btn">
                    <button type="button" class="btn btn-fab btn-fab-mini">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</template>