<template name="sidebar">
    <aside id="sidebar" class="col-md-2 hidden-xs hidden-sm">
        <div id="sidebar-content">
            <div id="user-info" class="clearfix">
                <div class="col-xs-3">
                    <img src="/img/user_profile_32x32.png" class="img-circle" />
                </div>
                {{#with currentUser}}
                <div class="col-xs-9">
                    <p class="name">{{ username }}</p>
                    <p class="title">{{ accountType }}</p>
                </div>
                {{/with}}
            </div>
            <ul id="navigation">
                <li>
                    <a href="#" class="main-menu-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <i class="fa fa-file-text-o"></i>
                        <span>{{i18n "survey" }}</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='startSurvey'}}">{{i18n "start_new" }}</a></li>
                        <li><a href="{{pathFor route='continueSurvey'}}">{{i18n "continue_previous" }}</a></li>
                        <li><a href="{{pathFor route='completedSurveys'}}">{{i18n "completed" }} {{i18n "survey_plural" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <i class="fa fa-cog"></i>
                        <span>{{i18n "setup" }}</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li ><a href="{{pathFor route='questionnaires'}}">{{i18n "questionnaire_plural" }}</a></li>
                        <li><a href="{{pathFor route='questions'}}">{{i18n "question"}} {{i18n "setting_plural" }}</a></li>
                        <li><a href="{{pathFor route='surveyors'}}">{{i18n "surveyor_plural" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <i class="fa fa-bar-chart"></i>
                        <span>{{i18n "report_plural" }}</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='generalReport'}}">{{i18n "general" }}</a></li>
                        <li><a href="{{pathFor route='summaryReport'}}">{{i18n "summary" }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <i class="fa fa-users"></i>
                        <span>{{i18n "user_plural" }}</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='userAdministration'}}">{{i18n "account_plural" }}</a></li>
                        <li><a href="{{pathFor route='rolesAndPermissionsAdministration'}}">{{i18n "role_plural" }} {{i18n "and" }} {{i18n "permission_plural" }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</template>
