<template name="sidebar">
    <aside id="sidebar" class="col-md-2">
        <div id="sidebar-content">
            <div id="user-info" class="clearfix">
                <div class="col-xs-3">
                    <img src="/img/user_profile_32x32.png" class="img-circle" />
                </div>
                {{#with currentUser}}
                <div class="col-xs-9">
                    <p class="name">{{ fullName }}</p>
                    <p class="title">{{ accountType }}</p>
                </div>
                {{/with}}
            </div>
            <ul id="navigation">
                <li>
                    <a href="#" class="main-menu-item">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-file"></i>
                        <span>Survey</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='startSurvey'}}">Start New</a></li>
                        <li><a href="{{pathFor route='continueSurvey'}}">Continue Previous</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-cog"></i>
                        <span>Setup</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li ><a href="{{pathFor route='surveys'}}">Surveys</a></li>
                        <li><a href="{{pathFor route='questions'}}">Question Settings</a></li>
                        <li><a href="{{pathFor route='surveyors'}}">Surveyors</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-bar-chart"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='reportGeneral'}}">General</a></li>
                        <li><a href="{{pathFor route='reportRegional'}}">Regional</a></li>
                        <li><a href="{{pathFor route='reportSummary'}}">Summary</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="main-menu-item">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-users"></i>
                        <span>User Administration</span>
                    </a>
                    <ul class="sub-menu-1">
                        <li><a href="{{pathFor route='userAdministration'}}">Users</a></li>
                        <li><a href="{{pathFor route='rolesAndPermissionsAdministration'}}">Roles and Permissions</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</template>
